<div class="container">
    <p><%= "이번주 로또 번호는 #{@lotto_array} 이며 보너스 번호는 #{@lotto_bnus} 입니다." %></p>
    <p><%= "귀하의 로또 번호는 #{@my_lotto_array} 이며 맞은 수는 #{@lotto_match} 입니다." %></p>
    <p><%= "#{@result} 입니다." %></p>
</div>